# This is a basic workflow to help you get started with Actions

name: Build CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    tags:
      - 'v*.*.*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    
    # create a build matrix for jobs
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, macos-10.15, ubuntu-18.04]
    
    # create steps
    steps:
      # step1: check out repository
      - name: Check out git repository
        uses: actions/checkout@v2

      # step2: install node env
      - name: Install Node.js
        uses: actions/setup-node@v2-beta

      # step3: npm install
      - name: npm install
        run: |
          npm install
      # step4: build app for mac/win
      - name: build windows app
        if: matrix.os == 'windows-2019'
        run: |
          npm run build
      - name: build mac app
        if: matrix.os == 'macos-10.15'
        run: |
          npm run build
      - name: build Ubuntu app
        if: matrix.os == 'ubuntu-18.04'
        run: |
          npm run build
      # step5: cleanup artifacts in dist_electron
      - name: cleanup artifacts for windows
        if: matrix.os == 'windows-2019'
        run: |
          mkdir artifacts
          mv release/*.exe artifacts || true
      - name: cleanup artifacts for macosZ
        if: matrix.os == 'macos-10.15'
        run: |
          mkdir artifacts
          mv release/*.dmg artifacts || true
      - name: cleanup artifacts for Ubuntu
        if: matrix.os == 'ubuntu-18.04'
        run: |
          mkdir artifacts
          mv release/*.dmg artifacts || true
      # step6: upload artifacts
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: artifacts
      # step7: create release
      - name: release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: 'artifacts/**'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
